* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 100px;
  }
  html,
  body,
  .outer {
    width: 100%;
    height: 100%;
  }
  body {
    font: 14px Microsoft YaHei;
    background: url('../img/background.png') 0 0;
    background-size: 100% 100%;
  }
  .outer {
    position: relative;
  }
  .header {
    width: 100%;
    height: 8%;
    background: url('../img/header.png') no-repeat;
    background-size: cover;
    /* position: relative; */
  }
  .header_inner {
    width: 98%;
    height: 8%;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    /* border-bottom: teal solid 1px; */
  }
  .header_inner .toright, .header_inner .toleft{
    height: 100%;
    width: 36%;
    /* background-color: red; */
    position: relative;
  }
  .header_inner .toleft .leftbutton{
    width: 250px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 1%;
    bottom: 0;
    background: url('../img/left.png');
  }
  .header_inner .toleft .leftbutton2{
    right: 19%;
  }
  .header_inner .toright .rightbutton{
    width: 250px;
    height: 50px;
    left: 1%;
    bottom: 0;
    position: absolute;
    display: inline-block;
    background: url('../img/right.png');
  }
  .header_inner .toright .rightbutton2{
    left: 19%;
  }
  .content {
    display: flex;
    width: 100%;
    height: 92%;
  }
  .left .left_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: #ffffff;
  }
  
  .left_one {
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    display: flex;
  }
  .left_one .left_one_left, .left_one .left_one_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .left_one .left_one_left .title{
    height: 10%;
    width: 100%;
    background: url("../img/接警统计.png") no-repeat;
  }
  .left_one .left_one_right .title{
    height: 10%;
    width: 100%;
    background: url("../img/处警统计.png") no-repeat;
  }

  .left_one_left .one_left_c, .left_one_right .one_right_c{
    height: 90%;
    width: 100%;
  }
  .left_one .alarm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .left_one .alarm .top{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .left_one .alarm .top label{
    width: 20%;
    /* height: auto; */
    text-align: center;
    border: 1px solid rgb(0, 235, 0);
    color: rgb(red, green, blue);
  }
  .left_one .alarm .center{
    height: 40%;
    width: 100%;
    text-align: center;
  }
  .left_one .alarm .center>.alarmall{
    margin-top: 16%;
    font-size: .14rem;
  }
  .left_one .alarm .center .alarmnum{
    font-size: .30rem;
    color: rgb(76, 243, 10);
  }
  .left_one .alarm .bottom{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .alarm .bottom .leftangel{
    width: 45%;
    height: 100%;
    background: url('../img/矩形929.png') no-repeat;
    background-size: cover;
  }
  .alarm .bottom .rightangel{
    width: 45%;
    height: 100%;
    background: url('../img/圆角矩形6.png') no-repeat;
    background-size: cover;
  }
  .left_one .handle{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .left_one .handle .item{
    width: 50%;
    height: 50%;
    display: flex;
  }
  .left_one .handle .item .picture{
    width: 50%;
    height: 50%;
  }
  .left_one .handle .item .picture img{
    width: 60%;
    height: auto;
  }
  .left_one .handle .item .substance .top{
      color: springgreen;
      font-size: .2rem;
  }
  .left_one .handle .item .substance .between{
    color: #ccc;
    font-size: .2rem;
}
  .left_two {
    width: 100%;
    height: 45%;
    /* background-color: yellow; */
    display: flex;
  }
.left_two .left_two_left , .left_two .left_two_right{
  width: 50%;
}
.left_two .left_two_left .title{
  height: 10%;
  width: 100%;
  background: url("../img/类型统计.png") no-repeat;
}
.left_two .left_two_right .title{
  height: 10%;
  width: 100%;
  background: url("../img/分时警量.png") no-repeat;
}
.left_two .two_left_c, .two_right_c{
  height: 90%;
}
  .left_three {
    width: 100%;
    height: 25%;
    display: flex;
    /* background-color: aqua; */
  }
  .left_three .left_three_left , .left_three .left_three_right{
    width: 50%;
    height: 100%;
  }
  .left_three .left_three_left .title{
    height: 10%;
    width: 100%;
    background: url("../img/分局警情.png") no-repeat;
  }
  .left_three .left_three_right .title{
    height: 10%;
    width: 100%;
    background: url("../img/警情来源.png") no-repeat;
  }
  .left_three .three_left_c,.left_three .three_right_c{
    height: 90%
  }
  .left {
    width: 26%;
    /* background-color: rgba(20, 231, 247, 0.5); */
  }
  .center {
    width: 48%;
    /* background-color: rgba(45, 15, 218, 0.5); */
  }
  .center .center_content {
    widows: 100%;
    height: 100%;
    background: url('../img/map.png') no-repeat;
    display: flex;
  }
  .center_one {
    width: 15%;
    height: 100%;
    background-color: #081d4e;
  }

  .center_two {
    width: 70%;
    height: 100%;
    /* background-color: gold; */
    /* background: url('../img/map.png'); */
    display: flex;
    justify-content: space-between;
  }

  .center_three {
    width: 15%;
    height: 100%;
    background-color: #081d4e;
  }
  .right {
    width: 26%;
  }
  .right .right_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .right_one {
    width: 100%;
    height: 35%;
    /* background-color: purple; */
    display: flex;
  }
  .right_one .right_one_left, .right_one .right_one_right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .right_one .right_one_left .title{
    height: 10%;
    width: 100%;
    background: url("../img/在线警力.png") no-repeat;
  }
  .right_one .right_one_right .title{
    height: 10%;
    width: 100%;
    background: url("../img/定位设备.png") no-repeat;
  }
  .right_one_left .one_left_c,.right_one_right .one_right_c{
    height: 90%;
    width: 100%;
  }

  .right_two {
    width: 100%;
    height: 15%;
    /* background-color: black; */
    display: flex;
  }
  .right_two .right_two_left, .right_two .right_two_right{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .right_two_left .two_left_c,.right_two_right .two_right_c{
    height: 100%;
    width: 100%;
  }
  .right_two .prepare{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .right_two .prepare .item{
    width: 25%;
    height: 100%;
  }
  .right_two .prepare .item .num{
    font-size: .35rem;
    color: #ffffff;
  }
  .right_two .prepare .item .picture{
    width: 100%;
    height: 70%;
    margin-top: 5%;
  }
  .right_two .prepare .item .picture img{
    width: 100%;
    height: 70%;
  }
  .right_three {
    width: 100%;
    height: 50%;
    /* background-color: peru; */
  }
  .right_three .right_three_left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .right_three .right_three_left .title{
    height: 10%;
    width: 100%;
    background: url("../img/分局警力.png") no-repeat;
  }
  .right_three_left .three_left_c{
    height: 90%;
    width: 100%;
  }
