* {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 100px;
  }
  html,
  body,
  .outer {
    width: 100%;
    height: 100%;
  }
  body {
    font: 14px Microsoft YaHei;
    background: url('../img/background.png') 0 0;
    background-size: 100% 100%;
  }
  .outer {
    position: relative;
  }
  .header {
    width: 100%;
    height: 8%;
    background: url('../img/header.png') no-repeat;
    background-size: cover;
    /* position: relative; */
  }
  .header_inner {
    width: 98%;
    height: 8%;
    /* margin: 0 auto; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    /* border-bottom: teal solid 1px; */
  }
  .header_inner .toright, .header_inner .toleft{
    height: 100%;
    width: 36%;
    /* background-color: red; */
    position: relative;
  }
  .header_inner .toleft .leftbutton{
    width: 250px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 1%;
    bottom: 0;
    background: url('../img/left.png');
  }
  .header_inner .toleft .leftbutton2{
    right: 19%;
  }
  .header_inner .toright .rightbutton{
    width: 250px;
    height: 50px;
    left: 1%;
    bottom: 0;
    position: absolute;
    display: inline-block;
    background: url('../img/right.png');
  }
  .header_inner .toright .rightbutton2{
    left: 19%;
  }
  .content {
    display: flex;
    width: 100%;
    height: 92%;
  }
  .left .left_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: #ffffff;
  }
  
  .left_one {
    width: 100%;
    height: 30%;
    background-color: blue;
  }
  .left_one .left_onec{
    width: 80%;
    height: 90%;
    margin-left: 8%;
    background-color: #091437;
  }
  
  .left_two {
    width: 100%;
    height: 45%;
    background-color: yellow;
    display: flex;
  }
.left_two .left_two_left , .left_two .left_two_right{
  width: 50%;
}
  .left_three {
    width: 100%;
    height: 25%;
    background-color: aqua;
  }
  .left_three .left_threec{
    background-color: #091437;
    margin-left: 8%;
    width: 82%;
    height: 80%;
  }
  .left {
    width: 26%;
    background-color: rgba(20, 231, 247, 0.5);
  }
  .center {
    width: 48%;
    background-color: rgba(45, 15, 218, 0.5);
  }
  .center .center_content {
    widows: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .center_one {
    width: 100%;
    height: 30%;
    background-color: gold;
    display: flex;
    justify-content: flex-start;
  }

  .center_two {
    width: 100%;
    height: 70%;
    background-color: #081d4e;
  }
  .right {
    width: 26%;
  }
  .right .right_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .right_one {
    width: 100%;
    height: 35%;
    background-color: purple;
  }
  .right_one .right_onec {
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: space-between;
  }

  .right_two {
    width: 100%;
    height: 15%;
    background-color: black;
  }
  .right_two .right_twoc{
    width: 90%;
    height: 80%;
    background-color: #091437;
  }
  .right_three {
    width: 100%;
    height: 50%;
    background-color: peru;
  }
  .right_threec {
    display: flex;
    width: 90%;
    height: 80%;
    background-color: #091437;
  }
